# .env.example
# Instructions: Copy/rename this file to .env and update with your local PostgreSQL credentials.

# give your postgres server's 

#YOUR_PASSWORD = your actual user password
#YOUR_DB_NAME = your  db name

#if you are using any other port other than 5432, replace with your port

DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/YOUR_DB_NAME

#give some random long password for secret key
SECRET_KEY=CHANGE_THIS_TO_A_RANDOM_STRING